.Weather {
font-family: Arial, Helvetica, sans-serif;
border: 1px solid #d2d2d2;
padding: 16px;
border-radius: 8px;
}


.Weather h1 {
    color: black;
    display: block;
    font-weight: 500;
    line-height: 40px;
    margin: 20px 0 10px 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    color: rgb(99, 99, 99);
    list-style: none;

}

.Weather canvas {
    margin-right: 8px;
    display: inline-block;
    margin-top: 8px;
}

.Weather .temperature {
    font-weight: bold;
    color: black;
    font-size: 57px;
    font-weight: 300;
    line-height: 64px;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-left: 2px;
    display: inline-block;
    position: relative;
    line-height: 1;
    top: 8px;
  }